@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
  --tint-color: #584dff;
  --font-serif: "Source Serif Pro", serif;
  --font-sans-serif: system-ui, -apple-system, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

body {
  padding: 15vh 10vw 10vw 10vw;
  max-width: 750px;
  font-family: var(--font-serif);
  background-color: #f5f4f1;
  color: #030911;
  /* -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1); */
}

body {
  /* animation: appear 1s 0.3s forwards;
  opacity: 0; */
}

@keyframes appear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

/* .summary::before {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  margin: 0 0 60px 0;
  background: currentColor;
  opacity: 0.2;
} */

/* section {
  padding-top: 100px;
  padding-bottom: 100px;
} */

section + section {
  margin-top: 60px;
}

.page-intro {
  margin-bottom: 100px;
}


/* Typography */

h1, h2, p {
  font-weight: normal;
  font-size: inherit;
}

p {
  margin: 0;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

p + p {
  margin: 20px 0;
}

.site-header {
  margin: 0 0 20px 0;
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  /* color: var(--tint-color); */
  opacity: 0.5;
}

.section-header {
  margin: 0 0 20px 0;
  font-family: var(--font-sans-serif);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.25px;
}

.section-intro {
  margin: 0 0 20px 0;
  line-height: 1.65;
  font-size: 1.529rem;
}

a {
  color: inherit;
  text-decoration: inherit;
  border-bottom: 0px solid currentColor;
  /* padding-bottom: 0.2em; */
  transition: border-bottom-width 0.15s linear;
}

a {
  color: var(--tint-color);
}

a:hover {
  border-bottom-width: 0.25em;
}

.links {
  font-size: 1rem;
  margin-top: 60px;
}

.links a {
  color: inherit;
}

.links a + a {
  margin: 0 0 0 30px;
}


/* Summaries */

.summary .section-header {
  margin-bottom: 30px;
}

.summary article h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.summary article h2 {
  margin: 5px 0 0 0;
  font-family: var(--font-sans-serif);
  font-size: 0.75rem;
  /* opacity: 0.5; */
  /* font-weight: 700; */
}

.summary article {
  margin-top: 20px;
}

/* Portfolio */

.portfolio-item {
  max-width: 750px;
}

.portfolio-item + .portfolio-item {
  margin-top: 60px;
}

.portfolio-item + .portfolio-item::before {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  margin: 0 0 60px 0;
  background: currentColor;
  opacity: 0.2;
}

.portfolio-item img {
  margin-left: -5px;
  max-width: 100%;
  /* border-radius: 10px; */
  margin-bottom: 20px;
}

.portfolio-item h1 {
  margin-bottom: 10px;
}

.portfolio-item h2 {
  font-size: 0.75rem;
  opacity: 0.5;
}

.portfolio-item .links {
  margin-top: 10px;
}

/* .portfolio-item p, .portfolio-item h1 {
  font-size: 0.75rem;
  font-weight: normal;
} */

.portfolio-item .links a {
  color: var(--tint-color);
}


/* Responsive */

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }

  .ward {
    width: 120px;
  }

  .links a + a {
    margin: 0 0 0 20px;
  }
}

@media (max-height: 600px) {
  body {
    padding-top: 8vh;
  }
  .links {
    margin-top: 80px;
  }

}
